@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "everton@gmail.com";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>This text is cool!!</p>

<address>
    <p>Click on link to contact:  <a href="@ViewData["Email"]">Email</a></p>
</address>
